

body{
    margin: 0;
}

header{
    height: 90px;
    background-color: #d8d8d8;
}

.box{

}

.text-box{
    height: 210px;
}

.bar{
    height: 150px;
}

.blue{}

.aqua{}

.green{}

.yellow{}

#question-bubble{}